     body{
                overflow-y: hidden;
                font-family: Verdana, sans-serif;
                background-image: url("http://i.imgur.com/hSBv82b.jpg");
                opacity: 0.8;
            }
            #loginDiv{
                position: absolute;
                width: 400px;
                height: 500px;
                top: 50%;
                left: 50%;
                margin: -250px 0 0 -200px;
                background-color: skyblue;
                text-align: center;
                border-radius: 5px;
                
            }
    
            #loginLogo{
                margin-top: 80px;
            }
            
            hr{
                border: 0;
                height: 1px;
                width: 300px;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
            }
            
            .loginInput{
                width: 300px;
                height: 40px;
                margin: 2%;
                border-radius: 5px;
                border: none;
            }
            
            #loginBut{
                background-color: deepskyblue;
                border: none;
                width: 150px;
                height: 35px;
                color: white;
                border-radius: 5px;
                margin: 3%;
            }
            
             #loginBut:hover {
                border-color: white;
                cursor: pointer;
                border: solid;
                border-width: 2px;
            }    