body {
    background-image: url("/img/misc/black_background_wood-wallpaper-2048x1152.jpg");
}

.categories{
    display: none;
}


#start{
    width: 300px;
    height: 300px;
    font-size: 30px;
    border-radius: 20px;
}

html, body{height:100%; margin:0;padding:0}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}



.centering {
    float:none;
    margin:0 auto;
}
