<!--// /**-->
<!--//  * Created by Kenneth on 2017-05-09.-->
<!--//  */-->
<div class="col-lg-12 col-md-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#password" data-toggle="tab">Change Password</a>
        </li>
        <li class=""><a href="#users" data-toggle="tab">Add Users</a>
        </li>
        <li class=""><a href="#delete" data-toggle="tab">Delete Users</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id=password">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <div class="row">
                        <h5>Old Password:</h5>
                        <input type="password" class="form-control" placeholder="Password" ng-model="old_password"/>
                    </div>
                    <br>
                    <div class="row">
                        <h5>New Password:</h5>
                        <input type="password" class="form-control" placeholder="Enter new password" ng-model="new_created_password"/>
                    </div>
                    <br>
                    <div class="row">
                        <h5>Confirm new password:</h5>
                        <input type="password" class="form-control" placeholder="Confirm new password" ng-model="con_new_created_password"/>
                    </div>
                    <br>
                    <div class="row">
                        <button ng-click="modify()" type="button" class="btn btn-primary enable">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="users">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <div class="row">
                        <h5>Username:</h5>
                        <input type="text" id="created_username" class="form-control" placeholder="Username" ng-model="created_username"/>
                    </div>
                    <br>
                    <div class="row">
                        <label class="mr-sm-2" for="EditinlineFormCustomSelect"><h5 class="required">User Type</h5></label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="EditinlineFormCustomSelect" ng-model="user_option">
                            <option id="user_option" selected>Choose...</option>
                            <option value="1">Admin</option>
                            <option value="2">Chef</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <h5>Password:</h5>
                        <input type="password" id="created_password" class="form-control" placeholder="Password" ng-model="created_password" />
                    </div>
                    <br>
                    <div class="row">
                        <h5>Confirm password:</h5>
                        <input type="password" id="con_created_password" class="form-control" placeholder="Confirm password" ng-model="con_created_password"/>
                    </div>
                    <br>
                    <div class="row">
                        <button ng-click="registers()" type="button" id="reg_but" class="btn btn-primary enable">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="delete">
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                    <div class="row">
                        <h5>Your Password:</h5>
                        <input type="password" class="form-control" placeholder="Password" ng-model="own_password"/>
                    </div>
                    <br>
                    <div class="row">
                        <h5>User to Delete:</h5>
                        <input type="text" class="form-control" placeholder="Enter Username" ng-model="deleted_user"/>
                    </div>
                    <br>
                    <div class="row">
                        <button ng-click="deleteUser()" type="button" class="btn btn-primary enable">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>