<!DOCTYPE html>
<html lang="en" data-ng-app="tatooine-kitchen">
<head>
    <title>Tatoo-Inn - Kitchen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="/plugin/progressbar.js"></script>
    <script src="/plugin/kitchen.js"></script>
    <link rel="stylesheet" href="/styles/kitchen.css">
</head>

<body data-ng-controller = "kitchen">

<div class="container-fluid kitchenpage">
    <div class="row">
        <div class="col-sm-8 orderscontainer">
            <div class="row orderrow">
                <div class="col-sm-4 orderdiv" data-ng-repeat="x in orders">
                    <div class="banner">
                        <div class="banner-content">Order:{{x[0].order_id}}</div>
                    </div>
                    <div class="order-content">
                    <p class="items" data-ng-repeat="i in x">{{i.quantity}} x {{i.item_name}}</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-sm-4 choices">
            <h1 style="color: white;">Choices</h1>
            <div class="col-sm-12 tableDiv">
                <table class="table table-condensed">
                    <thead>
                    <tr class="choicehead">
                        <th></th>
                        <th>Items</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class = "choicerow" data-ng-repeat="(x,y) in work">
                        <td><input data-ng-disabled="button.disabled" type="radio" name="optradio" data-ng-model="selected.item_name" value="{{x}}"></td>
                        <td>{{x}}</td>
                        <td>{{y}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12 text-center">
                <button class="btn btn-danger cookBut" ng-click="selectCookAmt(1)" data-ng-disabled="button.disabled || !selected.item_name">Cook one (1)</button>
                <button class="btn btn-warning cookBut" ng-click="selectCookAmt(2)" data-ng-disabled="button.disabled || !selected.item_name">Cook two (2)</button>
                <button class="btn btn-success cookBut" ng-click="selectCookAmt(6)" data-ng-disabled="button.disabled || !selected.item_name">Cook six (6)</button>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-sm-8 hotbox">
            <div class="col-sm-12 hotTable">
                <table class="table table-condensed tableHot">
                    <thead>
                    <tr>
                        <th><h2>Items</h2></th>
                        <th><h2>Quantity</h2></th>
                        <th><h2>Live for now</h2></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr data-ng-repeat="x in hotPotato">
                        <td><h3>{{x[0]}}</h3></td>
                        <td><h3>{{x[1]}}</h3></td>
                        <td>
                            <destroy data='{{$index}}' delete="remove(index, name, qty)" itemname = '{{x[0]}}' quantity = '{{x[1]}}'>
                            <span class='time-to countdown' countdown=''  date='300' >&nbsp;</span>
                            </destroy>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 fulfilled draw">
            <h1>Fulfilled</h1>
            <div class="row">
                <div class="col-lg-12 col-sm-12" data-ng-repeat="item in finished">
                    <h2>Order:{{item[0].order_id}}</h2>
                </div>
            </div>
        </div>

         </div>

    </body>
</html>
