<!--// /**-->
<!--//  * Created by Kenneth on 2017-05-09.-->
<!--//  */-->
<!DOCTYPE html>
<html data-ng-app="tatooine">
<head>
    <base href="/" />
    <title>Tatoo-inn</title>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/order.css">
    <link rel="stylesheet" href="/styles/orderpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="/plugin/orderpage.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
</head>




<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tatoo-inn</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-danger navbar-btn"  data-toggle="modal" data-target="#myOrders">Current Orders</button></li>
        </ul>
    </div>
</nav>

<br/>
<br/>
<br/>
<br/>

<div data-ng-controller = "orders">


    <!-- Modal -->
    <div id="myOrders" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Order content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">My Order</h4>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th><h4>Quantity</h4></th>
                            <th><h4>Items</h4></th>
                            <th><h4>Price</h4></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success" data-ng-repeat = "(x, y) in cart track by $index">
                            <td>{{y.qty}}</td>
                            <td>{{x}}</td>
                            <td>${{y.qty*y.item_price}}</td>
                            <td><span class="glyphicon glyphicon-remove item-remove" data-ng-click = "remove(x,y)"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><h4 class = "total-ammount">Total: ${{ammount}}</h4></td>
                        </tr>
                        </tbody>
                    </table>

                    <!--<span data-id="{{x}}" class="glyphicon glyphicon-remove item-remove" data-ng-click = "remove($event)"></span>-->

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="checkout()" id="checkout">Checkout</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


<wrap-owlcarousel class="owl-carousel owl-theme" data-options="{
            loop:true,
            margin:10,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:3,
                    nav:false
                },
                1000:{
                    items:5,
                    nav:true,
                    loop:false
                }
            }
        }">
    <a data-id="burger" data-ng-click="getType($event)" href="/orderpage/menu1" ><img src="/img/categories/hamburger.png" class="categories-img"><h2 style="text-align: center; color: white">Burgers</h2></a>
    <a data-id="breakfast" data-ng-click="getType($event)" href="/orderpage/menu2"><img src="/img/categories/sandwich.png" class="categories-img"><h2 style="text-align: center; color: white">Breakfasts</h2></a>
    <a data-id="appetizer" data-ng-click="getType($event)" href="/orderpage/menu3"><img src="/img/categories/french-fries.png" class="categories-img" ><h2 style="text-align: center; color: white">Appetizers</h2></a>
    <a data-id="desserts" data-ng-click="getType($event)" href="/orderpage/menu4"><img src="/img/categories/ice-cream.png" class="categories-img" ><h2 style="text-align: center; color: white">Desserts</h2></a>
    <a data-id="drinks" data-ng-click="getType($event)" href="/orderpage/menu5"><img src="/img/categories/drinks.png" class="categories-img" ><h2 style="text-align: center; color: white">Drinks</h2></a>
    <a data-id="burger" data-ng-click="getCombo($event)" href="/orderpage/menu6"><img src="/img/categories/combo.png" class="categories-img" ><h2 style="text-align: center; color: white">Burger Combos</h2></a>
    <a data-id="breakfast" data-ng-click="getCombo($event)" href="/orderpage/menu7"><img src="/img/categories/breakfastcombo.png" class="categories-img" ><h2 style="text-align: center; color: white">Breakfast Combos</h2></a>
    <a data-ng-click="getAll()" href="/orderpage/allmenu"><img src="/img/misc/clipboard.png" class="categories-img" ><h2 style="text-align: center; color: white">All Items</h2></a>
</wrap-owlcarousel>


<div>
    <div data-ng-view></div>
</div>

</div>


<script src='/plugin/owl.carousel.min.js'></script>



</body>
</html>